{% extends 'base.html' %}
{% block content %}
            <div class="top-image">
              <div class="container-fluid">
                <form>
                  <div class="form-group col-md-3">
                    <label for="sel1">生产线</label>
                    <select class="form-control" id="sel1" >
                      <option>生产线1</option>
                      <option>生产线2</option>
                      <option>生产线3</option>
                      <option>生产线4</option>
                    </select>
                  </div>
                  <br>
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button class="btn btn-info" id="start">采集</button>
                </form>
              </div>
              <div style='margin-top: 2%;'>
              <ul class="nav nav-pills">
                <li role="presentation"><a href="index">机器温度</a></li>
                <li role="presentation"><a href="temperature">环境状况</a></li>
                <li role="presentation"><a href="noise">噪声情况</a></li>
                <li role="presentation"><a href="strap">皮带情况</a></li>
                <li role="presentation" class='active'><a href="chain">链条情况</a></li>
              </ul>
              </div>
            
              <div class="left-image">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="temperature" style="width: 600px;height:350px;">sadasd</div>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
 {% endblock %}
 {% block script %}
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('temperature'));

  // 指定图表的配置项和数据
  var option1 = {
    title: {
      text: '频率'
    },
    tooltip: {},
    legend: {
      data:['频率']
    },
    xAxis: {
      data: ["0时","3时","6时","9时","12时","15时","18时","21时","24时"]
    },
    yAxis: {},
    series: [{
      name: '频率',
      type: 'line',
      data: [5, 20, 36, 10, 10, 20,24,3,56]
    }]
  };
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option1);
 

</script>
{% endblock %}