{% extends 'base.html' %}
{% block content %}
            <div class="top-image" style="margin-top: 0%;">
              <div class="container-fluid">
                <form>
                  <div class="form-group col-md-3">
                    <label for="sel1">生产线</label>
                    <select class="form-control" id="sel1" >
                      {% for i in data %}
                      <option>{{ i.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <br>
                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button class="btn btn-info" id="start">采集</button>
                </form>
              </div>
              <div style='margin-top: 2%;'>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#temm" aria-controls="temm" role="tab" data-toggle="tab">机器温度</a></li>
                  <li role="presentation"><a href="#en" aria-controls="en" role="tab" data-toggle="tab">环境状况</a></li>
                  <li role="presentation"><a href="#no" aria-controls="profile" role="tab" data-toggle="tab">噪音情况</a></li>
                  <li role="presentation"><a href="#stra" aria-controls="stra" role="tab" data-toggle="tab">皮带状况</a></li>
                  <li role="presentation"><a href="#ch" aria-controls="settings" role="tab" data-toggle="tab">链条状况</a></li>
                  <li role="presentation"><a href="#mo" aria-controls="settings" role="tab" data-toggle="tab">电机电流</a></li>
                </ul>
              </div>
              <div class="left-image">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="tab-content">
                        
                          <div role="tabpanel" class="tab-pane active" id="temm">
                            <div id="temperature" style="width: 600px;height:350px;"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="no">
                            <div id="noise" style="width: 600px;height:350px;"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="en">
                            <div class="col-md-6">
                              <div id="temperature_h" style="width: 450px;height:350px;">sadasd</div>
                            </div>
                            <div class="col-md-6">
                                <div id="humidity" style="width: 450px;height:350px;">dasdasdas</div>
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="stra">
                            <div id="strap" style="width: 600px;height:350px;"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="ch">
                            <div id="chain" style="width: 600px;height:350px;"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="mo">
                            <div id="current" style="width: 600px;height:350px;"></div>
                          </div>
                      </div>  
                    </div>
                
                  </div>
                </div>
              </div>
              </div>
{% endblock %}  
{% block script %}
<!-- <script>
</script> -->
<script src='static/assets/js/index_echarts.js'></script>
{% endblock %}
