{% extends 'base.html' %}
{% block content %}
            <!--  历史数据查看表单-->
            <!-- Page Heading -->
            
            <div class="page-heading" style="height:10px;">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h4>历史数据</h4>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <div class="col-sm-6">
                          起始日期：&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&nbsp;结束日期：
                          <br>
                          <input type="date" name="datetime_1" class="date-picker" id="date_q"/>
                          &emsp;&emsp;&emsp;
                           <input type="date" name="datetime_2" class="date-picker" id="date_z "/>
                          
                          
                        </div>
                        <div class="form-group">
                          <div class="col-sm-3">
                              生产线选择:<select class="form-control" id="sel1">
                                {% for i in line%}
                              <option value={{i.id}}>{{i.name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div class="col-sm-3">
                            数据类型:<select class="form-control" id="sel2">
                              <option>温度</option>
                              <option>机器温度</option>
                              <option>湿度</option>
                              <option>噪音</option>
                            </select>
                          </div>
                        </div>
                      </div>
                 
    
                      

                      <div class="form-group">
                        <div class="col-sm-1" id='button'>
                          <button type="button" id="submit" onclick='select()' class="form-control btn-info">查看</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- 数据展示表格 -->
           
            <div class="tables">
              <div class="container-fluid">
                <div class="col-sm-12">
                    <table id="table"></table>
                </div>
              </div>
            </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='assets/js/shortcodes_table.js')}}"></script>

{% endblock %}