{% extends 'base.html' %}
{% block content %}
            <!--  历史数据查看表单-->
            <!-- Page Heading -->
            <div class="page-heading">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h4>历史数据</h4>
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <div class="col-sm-6">
                          日期： <input type="date" name="datetime" class="form-control" id="date"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-6">
                          数据类型:<select class="form-control">
                            <option value="volvo">温度</option>
                            <option value="saab">机器温度</option>
                            <option value="opel">湿度</option>
                            <option value="audi">压力</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-6">
                          <input type="button" id="submit" value="查看" class="form-control">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- 数据展示表格 -->
            <section class="tables">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                      <h2>Tables</h2>
                    </div>
                    <div class="default-table">
                      <table>
                        <thead>
                          <tr>
                            <th>编号</th>
                            <th>数据</th>
                            <th>时间</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>#1011</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>#1012</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>#1013</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>#1014</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                          </tr>
                          <tr>
                            <td>#1015</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$20.50</td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>
                    <div class="alternate-table">
                      <table>
                        <thead>
                          <tr>
                            <th>编号</th>
                            <th>数据</th>
                            <th>时间</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>#2005</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$19.95</td>
                          </tr>
                          <tr>
                            <td>#2006</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$19.95</td>
                          </tr>
                          <tr>
                            <td>#2007</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$19.95</td>
                          </tr>
                          <tr>
                            <td>#2008</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$19.95</td>
                          </tr>
                          <tr>
                            <td>#2008</td>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td>$19.95</td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="table-pagination">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li class="active"><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
{% endblock %}
