{% extends 'base.html' %}
    {% block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/simple_page.css')}}">
    <style type="text/css">
    .message li{
        line-height:2rem;
        list-style-type:none;
        list-style-image: url(static/assets/images/tanhao.png); 
        padding-top: 0;
        margin-bottom: 2px;
        
      }
      </style>
    {% endblock  %}

{% block content %}
    
                   <div class="page-heading">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <h1>异常概览</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="simple-post">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12" >
                          <div class="col-md-4"  id="dituContent"></div>
                          <div class="col-md-4" id="roll">
                            <div class="messageWrap borderBox" id="rollbox">
                              
                              <div class="col-md-12 message borderBox">
                                  <ul id="notice">
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点二湿度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点三震动噪声警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一松弛度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一皮带涨紧警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点二湿度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点三震动噪声警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一松弛度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一皮带涨紧警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    
                                  </ul>
                              </div>
                            </div>
                              
                          </div>
                          <!-- <div id="banner"></div> -->
                        </div>
                      </div>
                      
                     
                      
                    </div>
                  </div>
                  
                  <div class="contact-form" id="warning">
                    
                    <div>
                    
                      <div class="row">
                        <div >
                          
                          <ul class="nav nav-tabs nav-pills" role="tablist">
                            <li role="presentation" class="active"><a href="#ttem" aria-controls="home" role="tab" data-toggle="tab">温度警报</a></li>
                            <li role="presentation"><a href="#huanjing" aria-controls="profile" role="tab" data-toggle="tab">环境警报</a></li>
                            <li role="presentation"><a href="#noise" aria-controls="messages" role="tab" data-toggle="tab">噪声警报</a></li>
                            <li role="presentation"><a href="#pd" aria-controls="settings" role="tab" data-toggle="tab">皮带警报</a></li>
                            <li role="presentation"><a href="#liantiao" aria-controls="settings" role="tab" data-toggle="tab">链条警报</a></li>
                          </ul>
                          </div>
                          
                          
                        <div class="col-md-6">
                          <div id="map"></div>
                        
                        </div>
                        
                

                      </div>
                      
                    </div> 
                    
                  </div>
                  <div class="tab-content"><div role="tabpanel" class="tab-pane active" id="ttem">
                    <div class="tables">
                    <div class="col-sm-12">
                        <table id="tem"></table>
                    </div>
                  </div> 
                </div> 
                  <div role="tabpanel" class="tab-pane" id="huanjing"> <div class="tables">
                    <div class="col-sm-12">
                        <table id="huan"></table>
                    </div>
                  </div></div>
                  <div role="tabpanel" class="tab-pane" id="noise"> <div class="tables">
                    <div class="col-sm-12">
                        <table id="zao"></table>
                    </div>
                  </div></div>
                  <div role="tabpanel" class="tab-pane" id="pd"> <div class="tables">
                    <div class="col-sm-12">
                        <table id="pid"></table>
                    </div>
                  </div></div>
                  <div role="tabpanel" class="tab-pane" id="liantiao"> <div class="tables">
                    <div class="col-sm-12">
                        <table id="lian"></table>
                    </div>
                  </div></div>
                </div> 
                     
{% endblock %}


 
    {% block mapscript %}
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=U7YgehOjGctRONcE8dfadOc8M8dfIU7w"></script>
    <script type="text/javascript" src="static/assets/js/map.js"></script>
    <script type="text/javascript" src="static/assets/js/roll.js"></script>
    <script type="text/javascript" src="static/assets/js/simple_page_table.js"></script>
    {% endblock %}
