{% extends 'base.html' %}
    {% block head%}
    <style type="text/css">
      #dituContent {width:550px;height:550px;border:#ccc solid 1px;float: left;}
     #roll{background: url(static/assets/images/bg_error.png) no-repeat;height: 550px;}
      .messageWrap{
      bottom:0;
      width:100%;
      padding:0 0.2rem;
      overflow:hidden;
      }
      .message{
        width:100%;
        background:#fff;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height:100%;
        overflow:hidden;
        padding-left:0.2rem;
      }
      .message li{
        line-height:2rem;
        list-style-type:none;
        list-style-image: url(static/assets/images/tanhao.png); 
        padding-top: 0;
        margin-bottom: 2px;
        
      }
      #rollbox {margin:5px 0px;padding:10px 0px;}
      #banner{float:left;margin-left:30px;padding:10px;width:100px;height:200px;background: url(static/assets/images/history.png);}
      
      #notice span{float:right}
      #form-group{margin-top: 100px;}
    </style>
    {% endblock  %}

{% block content %}
                   <!-- Page Heading -->
                   <div class="page-heading">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <h1>异常概览</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Simple Post -->
                  <section class="simple-post">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12" >
                          <div  id="dituContent"></div>
                          <div class="col-md-4" id="roll">
                            <div class="messageWrap borderBox" id="rollbox">
                              
                              <div class="message borderBox">
                                  <ul id="notice">
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点二湿度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点三震动噪声警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一松弛度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一皮带涨紧警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点二湿度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点三震动噪声警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一松弛度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一皮带涨紧警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    <li><a href="#">检测点一温度警告</a><span>2020-10-31</span></li>
                                    
                                  </ul>
                              </div>
                            </div>
                              <!--  慕课网课程公告结束 -->  
                          </div>
                          <div id="banner"></div>
                        </div>
                      </div>
                      
                     
                      
                    </div>
                  </section>
                  <!-- Contact Form -->
                  <section class="contact-form">
                    
                    <div class="container-fluid">
                      
                      <div class="row">
                        <section class="top-image">
                          <div class="container-fluid">
                            <form>
                              <div class="form-group">
                                <label for="sel1">生产线</label>
                                <select class="form-control" id="sel1" >
                                  <option>生产线1</option>
                                  <option>生产线2</option>
                                  <option>生产线3</option>
                                  <option>生产线4</option>
                                </select>
                                <br>
                                <button class="btn btn-default" id="start">采集</button>
                              </div>
                            </form>
                          </div>
                          <ul class="nav nav-pills">
                            <li role="presentation" class="active"><a href="index">机器温度</a></li>
                            <li role="presentation"><a href="temperature">环境状况</a></li>
                            <li role="presentation"><a href="noise">噪声情况</a></li>
                            <li role="presentation"><a href="strap">皮带情况</a></li>
                            <li role="presentation"><a href="chain">链条情况</a></li>
                          </ul>
                          <section class="left-image">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-md-6">
                                  <div id="temperature" style="width: 600px;height:300px;"></div>
                                </div>
                            
                              </div>
                            </div>
                          </section>
                          </section>
                        
                        <div class="col-md-6">
                          <div id="map">
                          <!-- How to change your own map point
                                 1. Go to Google Maps!
                                 2. Click on your location point
                                 3. Click "Share" and choose "Embed map" tab
                                 4. Copy only URL and paste it within the src="" field below
                          -->
      
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>     
{% endblock %}


 
    {% block mapscript %}
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=1lXrSsIRvQ10kSUTf9d84CzEvHwnY1F1"></script>
    <script type="text/javascript" src="static/assets/js/map.js"></script>
    <script type="text/javascript" src="static/assets/js/roll.js"></script>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('temperature'));
    
      // 指定图表的配置项和数据
      var option1 = {
        title: {
          text: '温度'
        },
        tooltip: {},
        legend: {
          data:['温度']
        },
        xAxis: {
          data: ["0时","3时","6时","9时","12时","15时","18时","21时","24时"]
        },
        yAxis: {},
        series: [{
          name: '温度',
          type: 'line',
          data: [5, 20, 36, 10, 10, 20,24,3,56]
        }]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option1);
     
    
    </script>
    {% endblock %}
