{% extends 'base.html' %}
    {% block head%}
    <style type="text/css">
      #dituContent {width:697px;height:550px;border:#ccc solid 1px;}
    </style>
    {% endblock  %}

{% block content %}
                   <!-- Page Heading -->
                   <div class="page-heading">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <h1>The map</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Simple Post -->
                  <section class="simple-post">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12" >
                          <div  id="dituContent"></div>
                        </div>
                      </div>
                      
                     
                      
                    </div>
                  </section>
                  <!-- Contact Form -->
                  <section class="contact-form">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6">
                          <form id="contact" action="" method="post">
                            <div class="row">
                              <div class="col-md-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <input type="submit" class="button" id="form-submit" name="message" value="提交"</input>
                                </fieldset>
                              </div>
                            </div>
                          </form> 
                        </div>
                        <div class="col-md-6">
                          <div id="map">
                          <!-- How to change your own map point
                                 1. Go to Google Maps!
                                 2. Click on your location point
                                 3. Click "Share" and choose "Embed map" tab
                                 4. Copy only URL and paste it within the src="" field below
                          -->
      
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>     
{% endblock %}


 
    {% block mapscript %}
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=1lXrSsIRvQ10kSUTf9d84CzEvHwnY1F1"></script>
    <script type="text/javascript" src="static/assets/js/map.js"></script>
    {% endblock %}
