{% extends 'base.html' %}
{% block content %}
<div class="top-image" style="margin-top: 0%;">
  <div class="container-fluid">
    <form>
      <div class="form-group col-md-3">
        <label for="sel1">生产线</label>
        <select class="form-control" id="sel1" >
          <option>生产线1</option>
          <option>生产线2</option>
          <option>生产线3</option>
          <option>生产线4</option>
        </select>
      </div>
      <br>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button class="btn btn-info" id="start">采集</button>
    </form>
  </div>
  <div style='margin-top: 2%;'>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="index">机器温度</a></li>
    <li role="presentation" class='active'><a href="temperature">环境状况</a></li>
    <li role="presentation"><a href="noise">噪声情况</a></li>
    <li role="presentation"><a href="strap">皮带情况</a></li>
    <li role="presentation"><a href="chain">链条情况</a></li>
    <li role="presentation"><a href="motor_current">电机电流</a></li>
  </ul>
  </div>
  <div class="left-image">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div id="temperature" style="width: 450px;height:350px;">sadasd</div>
        </div>
        <div class="col-md-6">
          <div class="right-content">
            <div id="humidity" style="width: 450px;height:350px;">dasdasdas</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}  
{% block script %}
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById('temperature'));
  var jq_temperature = echarts.init(document.getElementById('humidity')); 
    var app_t ={
      xdata_t:[],
      yvalue_t:[]
    };
    var app_h ={
      xdata_t:[],
      yvalue_h:[]
    };
    $(document).ready(function(){
      getData_1();
      getData_2();
    });
    function getData_1() {
      $.ajax({
        url:'echarts_temp',
        data:{},
        type:'POST',
        async:false,
        data:'json',
        success:function(data){
          app_t.xdata_t = data.xtime;
          app_t.yvalue_t = data.yv;
          myChart.setOption({
            title: {
              text: '温度'
            },
            tooltip: {},
            legend: {
              data:['温度']
            },
            xAxis: {
              type: 'category',
              boundaryGap: false,
              data: app_t.xdata_t
            },
            yAxis: {
              type:'value',
              axisLabel:{
                formatter:'{value}℃'
              },
              min:0,
              max:40,
              splitLine:{
                line:3,
                lineStyle:{

                  color:['#aaa', '#ddd']
                }
              },
            },
            series: [{
              name: '温度',
              type: 'line',
              data: app_t.yvalue_t,
              smooth:true,
              markLine: {
                // animation = true,
                data : [{
                
                silent:true,             //鼠标悬停事件  true没有，false有
                    label:{
                    position:'end', //end对应的值显示在警戒线的后面，start显示在前面（y轴上）
                    formatter:"低温预警"  //和y轴对应的数值
                },
                yAxis:5         // 警戒线的标注值，可以有多个yAxis,多条警示线   或者采用   {type : 'average', name: '平均值'}，type值有  max  min  average，分为最大，最小，平均值
               
            },
            {
                
                silent:true,             //鼠标悬停事件  true没有，false有
                    label:{
                    position:'end', //end对应的值显示在警戒线的后面，start显示在前面（y轴上）
                    formatter:"高温预警"  //和y轴对应的数值
                },
                yAxis:35         // 警戒线的标注值，可以有多个yAxis,多条警示线   或者采用   {type : 'average', name: '平均值'}，type值有  max  min  average，分为最大，最小，平均值
               
            },
            ]
            },
            areaStyle: {}
            }]
          })
        },
        error:function (msg) {
                alert(msg)
                console.log(msg);
                alert('系统发生错误');
            }
      })
    }
    function getData_2() {
      $.ajax({
        url:'echarts_h',
        data:{},
        type:'POST',
        async:false,
        data:'json',
        success:function(data){
          app_h.xdata_t = data.xtime;
          app_h.yvalue_h = data.yv;
          jq_temperature.setOption({
            title: {
              text: '湿度'
            },
            tooltip: {},
            legend: {
              data:['湿度']
            },
            xAxis: {
              data: app_h.xdata_t,
              type: 'category',
              boundaryGap: false,
            },
            yAxis: {
              type:'value',
              axisLabel:{
                formatter:'{value}%'
              },
              min:0,
              max:20,
              splitLine:{
                line:3,
                lineStyle:{

                  color:['#aaa', '#ddd']
                }
              },
            },
            series: [{
              name: '湿度',
              type: 'line',
              data: app_h.yvalue_h,
              smooth:true,
              markLine: {
                // animation = true,
                data : [{
                
                silent:true,             //鼠标悬停事件  true没有，false有
                    label:{
                    position:'end', //end对应的值显示在警戒线的后面，start显示在前面（y轴上）
                    formatter:"低湿预警"  //和y轴对应的数值
                },
                yAxis:5         // 警戒线的标注值，可以有多个yAxis,多条警示线   或者采用   {type : 'average', name: '平均值'}，type值有  max  min  average，分为最大，最小，平均值
               
            },
            {
                
                silent:true,             //鼠标悬停事件  true没有，false有
                    label:{
                    position:'end', //end对应的值显示在警戒线的后面，start显示在前面（y轴上）
                    formatter:"高湿预警"  //和y轴对应的数值
                },
                yAxis:18         // 警戒线的标注值，可以有多个yAxis,多条警示线   或者采用   {type : 'average', name: '平均值'}，type值有  max  min  average，分为最大，最小，平均值
               
            },
            ]
            },
            areaStyle: {}
            }]
          })
        },
        error:function (msg) {
                alert(msg)
                console.log(msg);
                alert('系统发生错误');
            }
      })
    }
</script>
{% endblock %}




