<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--    引入echars图表-->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">山东明佳科技有限公司</a>
              </div>
            </header>

            <section class="top-image">
              <div class="container-fluid">
                <form>
                  <div class="form-group">
                    <label for="sel1">生产线</label>
                    <select class="form-control" id="sel1" >
                      <option>生产线1</option>
                      <option>生产线2</option>
                      <option>生产线3</option>
                      <option>生产线4</option>
                    </select>
                    <br>
                    <button class="btn btn-default" id="start">采集</button>
                  </div>
                </form>
              </div>
              <ul class="nav nav-pills">
                <li role="presentation"><a href="index">机器温度</a></li>
                <li role="presentation" class='active'><a href="temperature">环境状况</a></li>
                <li role="presentation"><a href="noise">噪声情况</a></li>
              </ul>
              <section class="left-image">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="temperature" style="width: 500px;height:450px;">sadasd</div>
                    </div>
                    <div class="col-md-6">
                      <div class="right-content">
                        <div id="humidity" style="width: 500px;height:450px;">dasdasdas</div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            <!-- Right Image -->


          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="index">数据采集</a></li>
                <li><a href="simple_page">异常检测</a></li>
                <li><a href="shortcodes">数据展示</a></li>
                <li>
                  <span class="opener">系统管理</span>
                  <ul>
                    <li><a href="#">人员管理</a></li>
                    <li><a href="#">厂房管理</a></li>
                    <li><a href="#">设置</a></li>
                  </ul>
                </li>
              </ul>
            </nav>


          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/transition.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/custom.js"></script>
</body>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('temperature'));

  // 指定图表的配置项和数据
  var option1 = {
    title: {
      text: '温度'
    },
    tooltip: {},
    legend: {
      data:['温度']
    },
    xAxis: {
      data: ["0时","3时","6时","9时","12时","15时","18时","21时","24时"]
    },
    yAxis: {},
    series: [{
      name: '温度',
      type: 'line',
      data: [5, 20, 36, 10, 10, 20,24,3,56]
    }]
  };
  var jq_temperature = echarts.init(document.getElementById('humidity'));

// 指定图表的配置项和数据
var option2 = {
  title: {
      text: '湿度'
    },
    tooltip: {},
    legend: {
      data:['湿度']
    },
    xAxis: {
      data: ["0时","3时","6时","9时","12时","15时","18时","21时","24时"]
    },
    yAxis: {},
    series: [{
      name: '湿度',
      type: 'line',
      data: [5, 20, 36, 10, 10, 20,34,35,23]
    }]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option1);
  jq_temperature.setOption(option2);

</script>
